<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta http-equiv="pragma" content="private">
    <link rel="stylesheet" type="text/css" href="../../css/public/ydui.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/person/cz.css"/>
<head>
<body>


<div class="content">

  <div class="cz-nav">
     <p p2 onclick="api.closeFrame()"><img class="back_img" src="../../image/back.png"><span>充值列表</span></p>
  </div>

  <div class="container" id="container">
<script type="text/html" id="chargehtml">
  {{each list as v}}
    <div class="cz-item">
       <p>充值金额: <span>{{v.charge_money}}</span></p>
       <p>状态: <span>  {{if v.nowstate==1}}已成功{{/if}} {{if v.nowstate==2}}已取消{{/if}}</span></p>
       <p>时间: <span>{{v.intime}}</span> </p>
    </div>
    {{/each}}
</script>

  </div>

</div>



  <script src="../../script/api.js"></script>
  <script src="../../script/public/jquery.min.js"></script>
  <script src="../../script/public/public.js"></script>
  <script src="../../script/public/template.js"></script>
    <script src="../../script/layui/layui.js"></script>
  <script src="../../script/person/chargelist.js"></script>
</body>
</html>
